body {
  background-image: url("https://images.pexels.com/photos/4587970/pexels-photo-4587970.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(14, 2, 22);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url("https://images.pexels.com/photos/4834876/pexels-photo-4834876.jpeg");
  background-clip: text;
  color: transparent;
  margin: 0 auto;
  padding-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 10px;
  color: rgba(14, 2, 22, 0.625);
}

a {
  color: rgb(14, 2, 22);
}

label {
  font-weight: 800;
  font-size: 20px;
  line-height: 2;
  font-family: monospace;
}

input {
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(94, 30, 137);
}

#input {
  width: 70%;
  font-weight: 300;
  color: rgb(14, 2, 22);
  border: solid 1px rgb(94, 30, 137);
  background-color: rgb(255, 252, 255);
}

.inputExample {
  line-height: 1.5;
  color: rgba(14, 2, 22, 0.625);
}

.userImputBox,
.aiOutput {
  background-color: rgb(255, 248, 252);
  margin: 0 auto;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0px 0px 22px 4px rgba(87, 36, 119, 0.3);
}

.aiOutput {
  border-left: solid 4px rgb(94, 30, 137);
  margin-top: 30px;
}
